<!doctype html>
<html>
<head>
<title>{{sitename}}</title>
</head>
<body>
<p>
  <h3><a href="/">{{sitename}}</a></h3>
{{#if logged_in}}
<form method="POST" action="logout">
  Logged in as: <a href="/profile">{{name}}</a>.
	<input type="hidden" name="page" value="/" />
  <input type="submit" value="Logout" />
</form>
{{else}}
<form method="POST" action="login">
  <label for="name">Username:</label>
  <input type="text" id="name" name="name" />
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" />
  <input type="hidden" name="page" value="/" />
  <input type="submit" value="Login" />
</form>
{{/if}}
</p>
{{{body}}}
</body>
</html>
