<!doctype html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<head>
<title>{{sitename}}</title>
<style>
  body { background-color:#c0d0e5; }
</style>
</head>

<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{sitename}}</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {{#if logged_in}}
          <form class="navbar-form navbar-right" method="POST" action="logout">
            <p class="navbar-text">
              Logged in as: <a class="navbar-link" href="/dashboard">{{name}}</a>.
            </p>
            <button type="submit" class="btn btn-default">Logout</button>
          </form>
        {{else}}
          <form class="navbar-form navbar-right" method="POST" action="login">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username" name="name" />
              <input type="password" class="form-control" placeholder="password" name="password" />
              <button type="submit" class="btn btn-default">Login</button>
            </div>
          </form>
        {{/if}}
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="background-color:white;">
      {{{body}}}
    </div>
  </div>
</div>
  

  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <center>
        <p class="navbar-text">Website by Caleb Bernard</p>
      </center>
    </div>
  </nav>
  
</body>
</html>
