<!doctype html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<head>
<title>{{sitename}}</title>
</head>

<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <center>
        <h2><a href="/">{{sitename}}</a></h2>
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      {{#if logged_in}}
        <form method="POST" action="logout">
          Logged in as: <a href="/profile">{{name}}</a>.
        	<input type="hidden" name="page" value="/" />
          <input type="submit" class="btn btn-default" value="Logout" />
        </form>
        {{else}}
        <form method="POST" action="login">
          <label for="name">Username:</label>
          <input type="text" id="name" name="name" />
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" />
          <input type="hidden" name="page" value="/" />
          <input type="submit" class="btn btn-default" value="Login" />
        </form>
      {{/if}}
    </div>
  </div>
</div>
{{{body}}}
</body>
</html>
